# Ignore Gradle project-specific cache directory
java-taxi-gps-pub/.gradle

# Ignore Gradle build output directory
java-taxi-gps-pub/build
java-taxi-gps-pub/.classpath
java-taxi-gps-pub/.project
java-taxi-gps-pub/.settings/
java-taxi-gps-pub/bin/

node_modules
.DS_Store
package-lock.json
